<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular16JwtAuth</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="styles.7f9524fd3f765b56.css"></head>
<body class="mat-typography">
  <app-root></app-root>
  <script src="main.ed902547b529370e.js" defer=""></script>
  <script src="polyfills.b5660b6cf86d07d9.js" defer=""></script>
  <script src="runtime.d218e6273dbe12dc.js" defer=""></script>
<script src="runtime.4d2cc7978a60e273.js" type="module"></script><script src="polyfills.3b2d050c2590d156.js" type="module"></script><script src="vendor.3508e38c8a82057c.js" type="module"></script><script src="main.b788811fe14706c2.js" type="module"></script></body>
</html>
